body{
    margin: 0px;
    background-color:black;
}
.cube{
    border: 8px solid red;
    border-radius: 20px;
    height: 125px;
    width: 125px;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto;
}

.cube-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    box-sizing: border-box;
    display: inline-block;
}
.cube-one{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cube-two{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.cube-two .cube-circle:last-child{
    align-self: flex-end;
}
.cube-three{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.cube-three .cube-circle:last-child{
    align-self: flex-end;
}
.cube-three .cube-circle:nth-child(2){
    align-self: center;
}
.cube-four {
    display: flex;
    justify-content: space-between;
}
.cube-four .cube-line{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cube-five{
    display: flex;
    margin: 0px 20px 0px;
    justify-content: space-between;
}
.cube-five .cube-line{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cube-five .cube-circle-center{
    align-self: center;
    height: 30px;
}
.cube-six{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cube-six .cube-line{
    display: flex;
    justify-content: space-between;
}
.cubes-in-a-line{
    display: flex;
    justify-content: center;
}